:root{
    --principal_color: #ff6600;
    --secudary_color: white;
    --third_color: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: var(--secudary_color);

}
.inicio{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to bottom, #ff6600, #fd9c5a, #ffc9a4, #ffffff)  ;
    align-items: center;
    padding-bottom: 40px;
    color: var(--third_color);
    height: 300px;
}
.inicio__logo{
    width: 200px;
}
.inicio__descripcion{
    padding-inline: 20px;
}
.navegacion{
    position: fixed;
    width: 100%;
    bottom: 0;
    color: var(--secudary_color);
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.info{
    text-align: center;
    padding: 20px;
}
