:root{
    --principal_color: #ff6600;
    --secudary_color: white;
    --third_color: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: var(--secudary_color);
    padding-bottom: 60px;

}
.inicio{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to bottom, #ff6600, #fd9c5a, #ffc9a4, #ffffff)  ;
    align-items: center;
    padding-bottom: 40px;
    color: var(--third_color);
    height: 300px;
}
.inicio__logo{
    width: 200px;
}
.inicio__descripcion{
    padding-inline: 20px;
}
.navegacion{
    display: flex;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to top, #ff6600, #fd8f46, #ffab72)  ;
}
.navegacion__etiquetas a {
    text-decoration: none;
    color: var(--secudary_color);
    font-size: 20px;
}
.info{
    text-align: center;
    padding: 20px;
}
.info__mision{
    padding-top: 50px;
}
.info__vision{
    padding-top: 50px;
}
.info h2{
    color: var(--principal_color);
}
.info__vision p{
    padding-top: 20px;
}

.menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plato {
  
  padding: 10px 15px;
  border-radius: 10px;
  width: auto;
  min-width: 300px;
  max-width: 300px;
  height: auto;
  box-shadow: 0 2px 8px #ff6600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.plato__img{
    width: 190px;
}
.plato h2{
    margin-bottom: 40px;
}
.plato__nombre{
    color: var(--principal_color);
}
.plato__ingredientes{
    font-size: 10px;
    color: var(--third_color);
}