*{
    margin: 0;
    padding: 0;
}
header{
display: flex;
height: 112px;
background-color: #004797;
border-bottom: 3px solid #eb5b25;
align-items: center;
justify-content: space-between;
}
header img{

    width: 222px;
    margin-left: 340px;
}
.busqueda input{
    width: 531px;
    height: 44px;
    border-radius: 5px;
}
.busqueda nav{
    margin-bottom: 10PX;
}
.busqueda a{
    padding-left: 20px;
    color: white;
    padding-top: 20px;
    text-decoration: none;
    margin-left: 10px;
}
#hiper{
    width: 50px;
    padding: 10px;
    padding-top: 20px;
    background-color: rgba(238, 237, 237, 0.781) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #004797;
    
}
#hiper:hover{
    
    background-color: aliceblue;
}
.nav2, .nav3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.nav2 a{
    text-decoration: none;
    padding-right: 18px;
    color: #004797;
}
.nav2 a:hover{
    background-color: #004797;
    padding: 10px;
    color: white;
}
.nav3 a{
    text-decoration: none;
    padding-right: 130px;
    color: #004797;
}
.central{
    display: flex;
    padding-inline: 225px;
    padding-top: 50px;
}
.carrusel {
    width: 100%;
    min-width: 680px;
    max-width: 680px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carrusel__contenido {
    display: flex;
    width: 500%;
    animation: slide 20s infinite;
}

.contenido__slide {
    width: 100%;
    flex-shrink: 0;
}

.contenido__slide img {
    width: 20%;
    display: block;
}

@keyframes slide {
    0%   { transform: translateX(0%); }
    20%  { transform: translateX(-100%); }
    40%  { transform: translateX(-200%); }
    60%  { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0%); }
}
.cartas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0PX;
}
.carta{
    padding: 10px;
    border-radius: 10px;
    width: auto;
    min-width: 10%;
    max-width: 50%px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carta img{
    width: 50px;
}
.carta img:hover{
    transform: scale(1.2);
}
.carta img{
    width: 50px;
}
.carta2{
    padding: 10px;
    padding-top: 50px;
    border-radius: 10px;
    width: auto;
    min-width: 10%;
    max-width: 50%px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carta2 img{
    width: 100%;
}
.ads{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-inline: 220px;
   justify-content: center;
}
