*{
    margin: 0;
    padding: 0;
}
header{
display: flex;
height: 112px;
background-color: #004797;
border-bottom: 3px solid #eb5b25;
align-items: center;
justify-content: space-between;
}
header img{

    width: 222px;
    margin-left: 340px;
}
.busqueda input{
    width: 531px;
    height: 44px;
    border-radius: 5px;
}
.busqueda nav{
    margin-bottom: 10PX;
}
.busqueda a{
    padding-left: 20px;
    color: white;
    padding-top: 20px;
    text-decoration: none;
    margin-left: 10px;
}
#hiper{
    width: 50px;
    padding: 10px;
    padding-top: 20px;
    background-color: rgba(238, 237, 237, 0.781) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #004797;
    
}
#hiper:hover{
    
    background-color: aliceblue;
}
.nav2, .nav3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.nav2 a{
    text-decoration: none;
    padding-right: 18px;
    color: #004797;
}
.nav2 a:hover{
    background-color: #004797;
    padding: 10px;
    color: white;
}
.nav3 a{
    text-decoration: none;
    padding-right: 130px;
    color: #004797;
}
.central{
    display: flex;
    padding-inline: 295px;
    padding-top: 50px;
    
}
.central2{
    display: flex;
    padding-inline: 235px;
    padding-top: 50px;
    
}

.carrusel {
    width: 100%;
    min-width: 680px;
    max-width: 680px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carrusel__contenido {
    display: flex;
    width: 500%;
    animation: slide 20s infinite;
}

.contenido__slide {
    width: 100%;
    flex-shrink: 0;
}

.contenido__slide img {
    width: 20%;
    display: block;
}

@keyframes slide {
    0%   { transform: translateX(0%); }
    20%  { transform: translateX(-100%); }
    40%  { transform: translateX(-200%); }
    60%  { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0%); }
}
.cartas{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: 2px solid blue;
    width: 100%;
}
.cartas2{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
}
.carta{
    padding: 10px;
    border-radius: 10px;
    width: auto;
    min-width: 10%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carta img:hover{
    transform: scale(1.2);
}
.carta img{
    width: 70px;
    height: 60px;
}
.carta2{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
}
.carta2 img{
    width: 100%;
    border-radius: 5px;
}
.carta3{
    padding-top: 50px;
    min-width: 130px;
    max-width: 130px;
    min-height: 90px;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(199, 199, 199);
    border-bottom: 3px solid blue;
    padding: 50px;
    border-radius: 5px;
}
.carta3 img{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.ads{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-inline: 220px;
   justify-content: center;
}
.ads img{
    height: 150px;
}
.textos{
    padding-inline: 285px;
    margin-top: 30px;
    color: #004797;
    font-size: 20px;
}
.textos2{
    text-align: center;
    margin-top: 30px;
    color: #004797;
    font-size: 20px;
}

.carta4{
    width: auto;
    min-width: 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;

}
.carta5{
    padding-top: 20px;
    width: auto;
    min-width: 120px;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    text-align: center;
    align-items: center ;
}
.carta5 img{
    width: 150px;
    border-radius: 5px;
}
.carta5 h5{
    margin-top: 30px;
    margin-bottom: 50px;
}
.carta5 h6{
    margin-bottom: 20px;
    color: #eb5b25;
    font-size: 20px;
}
.carta3 h6{
    margin-bottom: 70px;
    padding: 30px;
    color: #eb5b25;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}
.carta6{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
}
.carta6 img{
    width: 110px;
    height: 46px;
    border-radius: 5px;
}
.carro{
    display: flex;
    align-items: center;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #004797;
    height: 90px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    
}
.carro img{
    width: 18%;
    padding-right: 80px;
}
.carro a{
    margin-left: 50px;
    text-decoration: none;
    width: 150px;
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #eb5b25;
    font-size: 15px;
    
}
.carta7{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding-inline: 30px;
    align-items: center;
    border: 2px solid rgb(209, 208, 208);
    border-radius: 5px;
}
.carta7 img{
    width: 80px;
    border-radius: 5px;
}
.carta7 h6{
    color: #eb5b25;
    font-size: 20px;
}
.carta7:hover{
    transform: scale(1.2);
}
.simbolo{
    margin-left: 50px;
}
.cartasfin2{
    display: flex;
    flex-direction: column;
    border: 1px solid #eeff02;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.cartasfin{
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    
}
.cartasfin4{
    display: flex;
    flex-direction: column;
    padding-left: 13px;
}
.cartasfin4 h5{
    text-align: left;
    color: #eb5b25;
}
.cartasfin4 h6{
    text-align: left;
    color: black;
}
.cartasfin4 h6:hover{
    color: #eb5b25;
}
.cartasfin3{
    display: flex;
    width: 350px;
    align-items: center;
    padding: 20px;
    
}
.cartasfin3 h5{
    align-items: center;
}
#cartas_texto{
    font-size: 18px;
}
.cartasfin h6{
    font-size: 15px;
    color: #eb5b25;
}
.carta8{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding-inline: 30px;
    align-items: center;
    border: 2px solid rgb(209, 208, 208);
    border-radius: 5px;
    min-width: 200px;
}
.carta8 img{
    min-width: 50px;
    max-width: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.carta8 h6{
    color: #eb5b25;
    font-size: 10px;
}
.carta8 img:hover{
    transform: scale(1.2);
}

.carta9{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    border-radius: 5px;
    min-width: 200px;
    justify-content: left;
    align-items: center;
}

.carta10{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    border-right: 1px solid rgb(201, 201, 201);
}
.carta10 img{
    width: 55px;
}
.nav4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.nav4 a{
    text-decoration: none;
    color: #004797;
    font-size: 13px;
}
footer{
    height: 400px;
    background-color: black;
    margin-top: 50px;
}